* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    padding: 0;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--secondary);
    font-family: var(--font-primary);
    color: var(--white);
}