.chat-container{
    width: 100%;
    height: 100%;
    padding: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.chat-messages{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: 0;
    gap: 20px;
    padding-bottom: calc(25px + 70px + 30px);
    max-height: 100%;
    overflow-y: scroll;
    height: fit-content;
}

.message{
    padding: 10px;
    border-radius: var(--radius-small);
    width: fit-content;
    max-width: 70%;
}

.message.bot{
    background-color: #383838;
}

.message.user{  
    margin-left: auto;
    border: solid 2px var(--main-color);
}

footer{
    position: absolute;
    top: auto;
    bottom: 25px;
    border: solid 3px var(--main-color);
    width: calc(100% - 50px);
    /* padding: 10px; */
    display: flex;
    justify-content: space-between;
    border-radius: 100px;
    background-color: var(--secondary);
    box-shadow: 0 0 0 30px var(--secondary);
}

footer input{
    border: none;
    background: none;
    border-radius: 100px;
    padding-left: 20px;
    width: 100%;
    font-size: 1.1rem;
    color: white;
}

footer input:focus{
    border: none;
    background: none;
}

footer input::placeholder{
    color: rgba(255, 255, 255, 0.6);
}

footer button{
    height: 50px;
    width: 50px !important;
    aspect-ratio: 1/1;
    border-radius: 100px;
    padding-top: 5px;
    margin: 10px;
    background-color: var(--main-color);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer button img{
    height: 25px;
}

.btn-back{
    height: fit-content;
    position: fixed;
    top: 15px;
    left: auto;
    right: 15px;
    background-color: var(--main-color);
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: var(--radius-big);
    color: black;
    transition: .1s ease;
}

.chat-choice-container{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.chat-choice-btn {
    width: fit-content;
    padding: 10px 15px;
    margin: 5px 0 5px auto;
    border-radius: var(--radius-small);
    border: 2px solid var(--main-color);
    background-color: var(--secondary);
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
}

.chat-choice-btn:hover {
    background-color: var(--main-color);
    color: black;
}

.problem-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.problem-popup img{
    width: 90%;
    height: auto;
    margin-bottom: auto;
}

.problem-popup button {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.2s ease;
}

.problem-popup button:hover {
    opacity: 0.9;
}

.problem-popup button:first-of-type {
    background-color: var(--white);
    color: black;
}

.problem-popup button:last-of-type {
    background: none;
    color: var(--white);
    border: solid 2px var(--white);
}
