.loader-section {
    height: 100%;
    margin: 0;
    padding: 30% 0 5% 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.loader-title {
    font-family: var(--font-primary);
    font-weight: 700;
    line-height: 8rem;
    color: var(--main-color);
    width: fit-content;
    font-size: 10rem;
    padding: 0;
    margin: 0;
}

.loader-subtitle {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 1.3rem;
    margin: 0;
    color: var(--white);
}

.start-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    text-decoration: none;
}

.start-button:hover {
    transform: scale(1.05);
}

.start-button img {
    width: 40px;
    height: 40px;
}

.start-button span {
    color: var(--main-color);
    font-size: 1.1rem;
    font-weight: 400;
}