.map-container{
    width: 100%;
    height: 100%;
    overflow: scroll;
    position: relative;
}

.map{
    background: url('../media/images/static/map.png');
    height: 100%;
    aspect-ratio: auto;
}

.map img{
    height: 100%;
}

.map-blocks{
    display: grid;
    gap: 50px;
    padding: 20px 60px;
    grid-template-columns: 1fr 1fr 1fr;
}

.section{
    background-color: white;
    border-radius: var(--radius-big);
    box-shadow: 3px 4px 6px 3px rgba(0, 0, 0, 0.34);
    border: solid 1px var(--secondary);
    padding: 10px;
    box-sizing: border-box;
}

.map-blocks .first-column{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 15px;
}

.first-column div:nth-child(1) { grid-area: 1 / 1 / 2 / 3; }
.first-column div:nth-child(2) { grid-area: 2 / 1 / 3 / 2; }
.first-column div:nth-child(3) { grid-area: 2 / 2 / 3 / 3; }
.first-column div:nth-child(4) { 
    grid-area: 3 / 1 / 4 / 3; 
    margin-top: 30px;
}
.first-column div:nth-child(5){ grid-area: 4 / 1 / 5 / 3; }

.map-blocks .second-column{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.second-column img{
    height: 60px;
}

.second-column