.map-container{
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    background-color: white !important;
}

.map{
    height: 100%;
    aspect-ratio: .8;
    position: relative;
}

.map img{
    height: 100%;
}

.map-blocks{
    height: 100%;
    box-sizing: border-box;
    display: grid;
    gap: 50px;
    padding: 50px 0 50px 60px;
    grid-template-columns: 2fr 1fr 2fr;
}

.section{
    background-color: white !important;
    border-radius: var(--radius-big);
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.44);
    border: solid 1px var(--secondary);
    color: black;
    padding: 25px;
    box-sizing: border-box;
}

.assigned{
    outline: solid 3px var(--main-color);
    box-shadow: none;
}

.map-blocks .first-column{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 50px;
}

.first-column div:nth-child(1) { grid-area: 1 / 1 / 2 / 3; }
.first-column div:nth-child(2) { grid-area: 2 / 1 / 3 / 2; }
.first-column div:nth-child(3) { grid-area: 2 / 2 / 3 / 3; }
.first-column div:nth-child(4) { grid-area: 3 / 1 / 4 / 3; }
.first-column div:nth-child(5) { grid-area: 4 / 1 / 5 / 3; }

.map-blocks .second-column{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.second-column .entrance{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color: black;
}

.second-column img{
    height: 60px;
    object-fit: contain;
}

.second-column .c1{
    aspect-ratio: .45;
}

.map-blocks .warehouse{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-back{
    position: fixed;
    top: auto;
    bottom: 35px;
    left: auto;
    right: 25px;
    background-color: var(--main-color);
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: var(--radius-big);
    color: black;
    transition: .1s ease;
}

.pinpoint{
    display: none;
}