/* Импорт всех стилей */
@import url('variables.css');
@import url('fonts.css');
@import url('base.css');
@import url('loader.css');
@import url('auth.css');
@import url('main.css');
@import url('map.css');